[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none
