<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="gsudo v$(env.version)" Language="1033" Version="$(env.version_MajorMinorPatch)"
           UpgradeCode="567b5616-d362-484e-b6ff-7c1875cf0aee" Manufacturer="gerardog">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="Gerardo Grignoli"
             Description="gsudo is a sudo-equivalent for windows" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="gsudomsi" Level="1">
      <ComponentGroupRef Id="GSudo" />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
	
	<!-- Skip license dialog -->
	<UI>
		<Publish Dialog="WelcomeDlg"
				 Control="Next"
				 Event="NewDialog"
				 Value="InstallDirDlg"
				 Order="2">1</Publish>
		<Publish Dialog="InstallDirDlg"
				 Control="Back"
				 Event="NewDialog"
				 Value="WelcomeDlg"
				 Order="2">1</Publish>
	</UI>				 
	
    <WixVariable Id="WixUILicenseRtf" Value="..\..\vendor\LICENSE.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <InstallExecuteSequence>
      <Custom Action="CreateSudoExeLink" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="RemoveSudoExeLink" After="InstallInitialize">Installed AND NOT REINSTALL</Custom>
    </InstallExecuteSequence>

  </Product>

  <Fragment>
    <ComponentGroup Id="GSudo">
      <ComponentRef Id="GSudoPath" />
      <ComponentRef Id="GSudoExe" />
      <ComponentRef Id="GSudoExeX86" />
	  <ComponentRef Id="GSudoBash" />
	  <ComponentRef Id="GSudoPowerShell" />
	</ComponentGroup>
  </Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="gsudo">

          <Component Id="GSudoPath" Guid="923f225a-75cd-4fca-ad48-a4161187f7a4">
            <CreateFolder />
            <Environment Id="SET_ENV" Action="set" Name="PATH" Part="last" Permanent="no" System="yes"
                         Value="[INSTALLFOLDER]" />
          </Component>

          <Component Id="GSudoExe" Guid="bec137e1-06e2-4efb-aea9-30306cc01c87">
            <Condition>
              <![CDATA[VersionNT64]]>
            </Condition>
            <File Id="GSudoExe" KeyPath="yes" Name="gsudo.exe" Source="..\..\artifacts\x64\gsudo.exe"/>
          </Component>
		  
          <Component Id="GSudoExeX86" Guid="bec137e1-06e2-4efb-aea9-30306cc01c86">
            <Condition>
              <![CDATA[NOT(VersionNT64)]]>
            </Condition>
            <File Id="GSudoExeX86" KeyPath="yes" Name="gsudo.exe" Source="..\..\artifacts\x86\gsudo.exe" />
          </Component>

          <Component Id="GSudoBash" Guid="3d6047df-a14c-484d-9ded-77761d03197a">
            <File Id="GSudoBash" KeyPath="yes" Name="gsudo" Source="..\..\artifacts\x64\gsudo" />
          </Component>

          <Component Id="GSudoPowerShell" Guid="99d35b52-4b20-42d3-afad-11a98cab2fd3">
            <File Id="GSudoModuleDef" KeyPath="no" 	Name="gsudoModule.psd1" Source="..\..\artifacts\x64\gsudoModule.psd1" />
            <File Id="GSudoModule" KeyPath="yes" 	Name="gsudoModule.psm1" Source="..\..\artifacts\x64\gsudoModule.psm1" />
            <File Id="InvokeGSudo" KeyPath="no" 	Name="invoke-gsudo.ps1" Source="..\..\artifacts\x64\invoke-gsudo.ps1" />
          </Component>

        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <CustomAction Id="CreateSudoExeLink"
                  Directory="INSTALLFOLDER"
                  ExeCommand='cmd /c mklink sudo.exe "[INSTALLFOLDER]gsudo.exe"'
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no" />
    <CustomAction Id="RemoveSudoExeLink"
                  Directory="INSTALLFOLDER"
                  ExeCommand='cmd /c DEL sudo.exe'
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no" />
  </Fragment>

</Wix>